version: '3.2'
services:
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        environment:
          PMA_HOST: db
          PMA_PORT: 3306
          PMA_USER: root
          PMA_PASSWORD: root
          UPLOAD_LIMIT: 64M
          MYSQL_USERNAME: root
          MYSQL_ROOT_PASSWORD: root
        depends_on:
          - db
        ports:
          - "8082:80"
